repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-ast
    - id: check-builtin-literals
    - id: debug-statements
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-toml
    - id: check-json
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: detect-private-key
    - id: requirements-txt-fixer
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.9
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    additional_dependencies:
      - django-stubs==1.9.0
      - djangorestframework-stubs==1.4.0
      - types-orjson
    args: [--ignore-missing-imports]
    exclude: ^tests/
- repo: https://github.com/brianjbuck/noeval
  rev: v1.0.0
  hooks:
  - id: noeval
